
.main-section1{
    background-image: url('../images/2022-06-14.jpg');
    background-position: center;
    background-size: cover;
    height: 750px;
    width: 100%;
    
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 0vh !important;
    
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    

   div.card .rounded-3.text-black{
        height: 600px;
        width: 50%;
   }
   .ganesh{
    padding-left: 40px;
    height: 600px;
    padding-top: 8px;
    padding-bottom: 20px;
   }

   .umesh{
    padding-left:10px;
    padding-right: 10px;

    size: 50%;
   }
   .badge .bg-secondary{
    color: brown;
   }

  


    
.bg-opacity{
    background: linear-gradient(-90deg, rgb(0,0,0,0.8), rgba(0,0,0,0));
    height: 600px;

}
.main-section1 h2{
    background-color:rgba(128, 128, 128, 0.863);
    background-color:50% 100%;
    
    color: white;
    padding: 0px 150px;
    font-size: 60px;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.main-section1 h1{
    color: #d5a667;
    padding: 100px 160px;
    font-size: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.section.h-100.gradient-form{
    size: 10px;
}



.main-section2{
    padding: 10px;

}
.main-section2 h2{
    text-align: center;
    color: blueviolet;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card-container{
    display: flex;
}
.card-container .card{
    width: 33.33%;
    margin: 10px;
    box-shadow: 0px 3px 30px 0px rgb(0,0,0,0.25);
    border-radius: 10px;
    overflow: hidden;
    border: none ;
}
.card-container .card .card-img{
    height: 250px;
    overflow: hidden;

}
.card-container .card .card-content{
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card-container .card .card-content h4{
    color: blueviolet;
}
.card-container .card .card-content p{
    opacity: .7;
}
.about-content{
    padding: 50px;
    padding-bottom: 20%;
}
.about-section h2{
    color: blueviolet;
    text-align: center;
    padding: 30px;
}
.about-img{
    float: right;
}
.about-img img{
    transform: scale(0);
   animation:hideshow 5s infinite linear;
}
@keyframes hideshow{
    0%{
        transform: translate(0);

    }
    25%{
        transform: translateX(0);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translate(0);
    }
    100%{
        transform: translate(0);
    }

}

@media (min-width:376px) and (max-width:415px){
    
    .ganesh {
        padding-left: 14px;
        height: 600px;
        padding-top: 23px;
        padding-bottom: 28px;
        padding-right: 18px;
    }
    
    

.main-section1 h1 {
    color: #d5a667;
    padding: 35px 46px;
    font-size: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
    .main-section1 {
        background-image: url(../images/2022-06-14.jpg);
        background-position: center;
        background-size: cover;
        height: 666px;
        width: 100%;
    }
}





    


.ubdt{
    background-color: black;
}

        







    

.latest{
    padding: 18px;
}

.m-1{
    border-radius: 100%;
}
